body{
    background-color: gray;
    margin: 0;
  }
  
  #header{
  /* z-index: 1; */
  position: fixed;
  background-color: #BABAD1;
  height: 100px;
  width: 100%;
  top:0px;
  left: 0px;
    
  }
  
  
  .left{
  background-color: #F0F5FF;
  height: 800px;
  width: 100%;
    margin-top: 100px;
  }
  